* {
	box-sizing: border-box;
}

.body{
  margin: 0;
  background-image: url("images/wood-brick-wall-ground-floor-texture-construction.jpg");
  overflow: hidden;
}
.container{
  display: block;
  overflow: hidden;
}
.image{
  display: inline-block;
}
.nav ul-nav{
  display: block;
  float: left;
}
